.wrapper{
    /* border: 1px solid red; */
    width: 700px;
    margin: 0 auto;
}

button{
    cursor: pointer;
}

.form-section{
    text-align: center;
    /* border: 1px solid red; */
    padding-top: 15px;
}

.form-section form input,.form-section form button{
    display: inline-block;
    padding: 10px 20px;
    /* background-color: coral; */
    outline: none;
    border: 1px solid teal;
}

.form-section form input{
    width: 50%;
    /* font-size: 15px; */
}

.form-section form button{
    width: 20%;
    font-weight: bold;
    color: teal;
    background: rgba(168, 224, 224, 0.555)
}
.wrapper ul{
    list-style: none;
    margin-top: 30px;
   
    background-color: rgba(168, 224, 224, 0.555);
    padding: 10px;

}
.wrapper ul li{
    border: 1px solid teal;
    border-radius: 10px;
    width: 75%;
    background-color:rgba(59, 73, 73, 0.13);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-left: 65px;
    font-size: 18px;
    color: teal;
    text-transform: capitalize;
    align-items: center;
}

.title-top{
    text-align: center;
    width: 700px;
    margin: 10px auto;
    
    border-bottom: 1px solid teal;
}


.wrapper ul li button{
    color: teal;
    padding: 5px 15px;
    font-weight: bold;
    color: teal;
    background: rgba(168, 224, 224, 0.555);
    border: 1px solid teal;
    border-radius: 5px;

}


.wrapper ul li .editTask{

    display: inline-block;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px 15px;
    /* font-size: 16px; */
}